* {
  scrollbar-width: none;
  list-style: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.check,
.check * {
  border: solid 1px rgb(0, 0, 0);
}

#header {
  /* position: absolute; */
  width: 100vw;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid gray;
  background-color: white;
}

#header a {
  color: black;
  text-decoration: none;
}

#header a:hover {
  color: black;
  text-decoration: none;
}

#header-nav-bar {
  display: flex;
  flex-direction: row;
  column-gap: 37%;
}

.session-container {
  display: none;
}

.secondary-nav {
  display: none;
}

#menu {
  position: absolute;
  z-index: 1;
}

.close-menu-icon {
  position: absolute;
  display: none;
  cursor: pointer;

  /* opacity: 0; */
}

#menu-container {
  position: absolute;
  font-weight: bold;
  top: 4em !important;
  width: 100%;
  height: 100%;

  /* opacity: 0; */
}

.menu {
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: lightgray;
  display: none;
}

.nav-li1:hover {
  background-color: orangered;
}

#menu-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#menu-icon:hover #menu-icon:focus {
  transform: scale(1.1);
  outline: none;
}

#headline {
  width: 100%;
}

.headline-hello {
  color: orangered;
  text-align: center;
  margin: 5vw 0 0 0;
  font-size: 1.2rem;
}

.headline-title {
  font-size: 8vw;
  font-weight: 900;
  height: 90vw;
  padding: 1vw 0 0 3vw;
  margin-top: 4vw;
  color: orangered;
  text-align: center;
  background: url(../capstoneimgs/inti-raymi.png) center no-repeat;
}

.headline-p {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 55vw;
  width: 94%;
  margin-inline: 3vw;
  border: 2px solid grey;
  padding: 3vw;
  text-align: center;
  font-size: 3.6vw;
  line-height: 6vw;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.contact {
  display: flex;
  flex-direction: column;
  top: 120vw;
  width: 94%;
  margin-inline: 3vw;
  padding: 3vw;
  text-align: center;
  align-items: center;
  font-size: 3.6vw;
  font-weight: bold;
  line-height: 5.7vw;
}

address {
  top: -5vw;
  width: 100%;
  text-align: center;
  font-size: 3.6vw;
  font-weight: 600;
  text-decoration: underline;
}

.sectionTitle {
  font-size: 1.3rem;
  text-align: center;
  margin-inline: 3vw;
  padding-bottom: 5vw;
  background: url(../capstoneimgs/title_underline.png) bottom no-repeat;
}

.creative-p {
  font-size: 0.7rem;
  line-height: 5vw;
  font-weight: bold;
  color: grey;
  margin-inline: 2vw;
  text-align: center;
}

.desktop-p {
  display: block;
}

#creative img {
  width: 50%;
  margin-block: 3vw;
  margin-inline: 25vw;
  padding: 0;
  border: 2px solid lightgrey;
}

/******** History ********/

#history {
  padding: 0 12vw 12vw 12vw;

  /* flex-direction: row;
      flex-wrap: wrap;
      padding: 0 0 6vw 0;
      justify-content: center; */
}

#history h1 {
  width: 100%;
}

/* #history h1::after {
      left: 47%;
    } */

.history-p {
  /* width: 100%; */
  font-size: 0.7rem;
  margin-inline: 2vw;
  font-weight: bold;
  text-align: center;
}

.hist-link {
  width: 30%;
  height: 30%;
  color: #fff;
  text-decoration: none;
  margin-inline: 1.5vw;
  transition: transform 300ms ease-in-out;
}

.hist-link:hover {
  transform: scale(1.2);
}

.hist-time {
  font-size: 9vw;
  text-align: center;
}

.hist-title {
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
}

.ir2022 {
  width: 100%;
  display: block;
  background: url(../capstoneimgs/inti-raymi-2022.jpg) no-repeat;
  background-size: contain;
  text-decoration: none;
  margin-bottom: 1.5vw;
  color: white;
}

.ir2020 {
  width: 100%;
  display: block;
  background: url(../capstoneimgs/DSC_01192.jpg) no-repeat;
  background-size: cover;
  text-decoration: none;
  color: white;
}

#history article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b62a1bad;
  width: 100%;
  height: 43vw;
}

#sponsors {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #414246;
  padding-bottom: 6vw;

  /* display: none; */
}

.titlePartners {
  font-size: 4vw;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 2vw;
  color: white;
  background-color: #414246;
}

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/**** Footer ******/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
}

.wmf-logo {
  width: 25vw;
  position: relative;
  margin-right: 3vw;
}

.footer-p {
  margin-block: 3vw;
  color: #414246;
}

/* .footer-p > a {
  margin-block: 3vw;
  color: #414246;
} */

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #header-nav-bar {
    display: none;
  }

  .session-container {
    display: flex !important;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 14px;
    height: auto;
    width: 100%;
  }

  .sessionbar {
    cursor: pointer;
    transition: transform 300ms ease-in-out;
  }

  .sessionbar:hover {
    transform: scale(1.2);
  }

  .logonav {
    display: flex;
    height: 20px;
  }

  .secondary-nav {
    display: block;
    align-self: center;
  }

  .sec-nav-link {
    color: #414246;
    text-decoration: none;
    align-items: center;
  }

  .sec-nav-link-btn {
    border: 3px solid #ff5438;
    padding: 0.5rem;
    color: #ff5438;
    font-weight: bold;
    background-color: white;
  }

  .headline-title {
    height: 60vw;
  }

  .headline-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 40vw;
    width: 75%;
    font-size: 1.8vw;
    margin: 8em;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .contact {
    font-size: 1.5vw;
  }

  address {
    font-size: 1.5vw;
  }

  .sectionTitle {
    font-size: 2.5vw;
  }

  .creative-p {
    font-size: 1.2vw;
  }

  .history-p {
    font-size: 1.2vw;
    margin-bottom: 6vw;
  }

  .lapaz-lima {
    display: flex;
    flex-direction: row-reverse;
  }

  #history article {
    justify-content: center;
    background-color: #b62a1bad;
    width: 100%;
    height: 20vw;
  }

  .hist-time {
    font-size: 3vw;
  }

  .hist-title {
    font-size: 2vw;
  }

  #sponsors {
    display: none;
  }

  .desktop-footer-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414246;
    width: 100%;
    font-weight: bold;
    padding: 0;
  }

  .footer-icon {
    width: 100%;
  }

  .footer-p {
    font-size: 1.5vw;
    color: white;
  }
}
